<!DOCTYPE html>
<html>
  <head>
    <title>TNMS-Noticias</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/home.css ">
    <link rel="stylesheet" href="../css/articles.css ">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Fugaz+One?preview.text=TNMS-Noticias&preview.text_type=custom&sidebar.open=true&selection.family=Fugaz+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&displany=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fugaz+One&displany=swap">

    <meta name="viewport" content="whidth=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    </head>
  <body class="container">
    
    <header class="df">
      <%- include('./partials/header.ejs') %>
    </header>
   
    <div class="container">
        <form method="POST" action="/users/register" >
        
            <div>
              <label for="id">Nombre de Usuario: </label>
              <input type="text" id="id" name="name" value="<%= user.name%>">
            </div> 
            <div>
                <label for="id">Primer Nombre: </label>
                <input type="text" id="id" name="first_name" value="<%= user.fist_name%>">
            </div>
            <div>
                <label for="id">Apellido: </label>
                <input type="text" id="id" name="last_name" value="<%= user.last_name%>">
            </div>
            <div>
                <label for="id">Email: </label>
                <input type="email" id="id" name="email" value="<%= user.email%>">
            </div>
            <div>
                <label for="id">Contraseña: </label>
                <input type="password" id="id" name="password" value="<%= user.password %>">
            </div>
            <div>
              <label for="id">Tipo de usuario, 1 para usuario 2 para periodista.</label>
              <input type="password" id="id" name="type"  value="<%= user.type%>">
            </div>
            <div>
              <label for="id">ingresa tu foto: </label>
              <input type="password" id="id" name="password" value="<%= user.id_fhoto%>">
            </div>

        </form>
        <form method="POST" action="users/submit/<%=user.id%">
          <button> MODIFICAR </button> 
        </form>
        <form method="POST" action="users/borrar/<%=user.id%">
            <button>BORRAR ESTE USUARIO</button> 
        </form>
    </div>
    
    
    <footer class="df">
      <div class="footer">
        <%- include('./partials/footer.ejs') %>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 
  </body>
  
</html>


